<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Simple Site</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <nav>
        <a href="/">Home</a> | <a href="/Home/About">About</a>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
